.center-header {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.nav-links {
    text-decoration: none;
    color: hsl(60, 30%, 83%);
    font-size: 25px;
    font-weight: lighter;
    transition: color 0.2s ease;
    margin-left: 100px;
}

.nav-links:hover {
    color: hsl(60, 30%, 33%);
}

.baba {
    margin: 0px;
}

.connect-btn {
    border: none;
    background-color: hsla(45, 95%, 54%, 0.922);
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-right: 20px;
}

.connect-btn:hover {
    background-color: hsla(45, 95%, 44%, 0.922);
}

.header-body {
    width: 65vw;
    height: 80px;
    background-color: hsl(71, 20%, 58%);
    border-radius: 5px;
    box-shadow: 1px 2px 2px hsl(0, 0%, 70%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    margin-top: 40px;
    z-index: 100;
    color: hsl(60, 30%, 83%);
}

.header-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-name {
    font-size: 30px;
    font-weight: bolder;
}

.header-left {

}

.header-right {
    display: flex;
    align-items: center;
}

.false-nav {
    color: black;
    font-size: 25px;
    font-weight: lighter;
    text-decoration: line-through;
    cursor: pointer;
    transition: all 0.3s ease;
    color: hsl(60, 30%, 83%);
}

.false-nav:hover {
    color: red;
}

.user-add {
    width: 8vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 50px;
    background-color: hsl(60, 30%, 83%);
    color: black;
    padding: 15px;
    border-radius: 15px;
    font-weight: bold;
    text-wrap: wrap;
    animation: all 0.3s ease;
    cursor: pointer;
}

.user-add:hover {
    box-shadow: 3px 3px 2px hsl(60, 30%, 43%);
}